<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">


        <!-- **************  JAVASCRIPT  **************** -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{
         url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
        <script type=text/javascript>
          $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script src="../static/dashboard.js"></script>
        <script src="https://code.jquery.com/jquery.js"></script>

   <!-- **************  BOOTSTRAP  **************** -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <script src="/static/bootstrap/js/bootstrap.min.js"></script><link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!--      **************  HIGHCHARTS  ****************-->
      <script src="https://code.highcharts.com/highcharts.js"></script>
  </head>

  <body  class='with-3d-shadow with-transitions'>
    <div class="wrapper">


     <nav class="navbar navbar-default navbar-static-top ">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand text" id="main-logo" href="/">🐾 Furever Match 🐾</a>
            <p class="navbar-text text"> Helping cats find their furever home!</p>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right container-fluid">
            <li><a href="/overview">Data Overview</a></li>
            <li><a href="/explore">Data Exploration</a></li>
            <li><a href="/missing">Missing Data</a></li>
          </ul>
        </div>
      </div>
    </nav>


    {% block content %}
    {% endblock %}
  </div>


  <div id="footer">
        <footer class="footer">
            <p class="text-center"><small>Created by Alexandra Plassaras &middot; <a href="mailto:aplassaras@gmail.com"
                                                                                     target="_blank">Contact</a> &middot; <a
                    href="https://github.com/amp5/furever_match" target="_blank">Github</a></small></p>
        </footer>
  </div>

  </body>

</html>