
{% extends 'base.html' %}
{% block content %}
<ul class="nav nav-tabs">
  <li class="active"><a href="#">Data Tables</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Exploration
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#">Shelter Level</a></li>
      <li><a href="#">Cat Level</a></li>
      <li><a href="#">State Level</a></li>
    </ul>
  </li>
  <li><a href="#">Missing Data</a></li>
</ul>


<h2> I'm exploration </h2>>
<script src="../static/dashboard.js"></script>

{% endblock %}